.box{
    position: fixed;
   margin-left: 34%;
   margin-top: 30px; 
   text-align: center;
   align-items: center;
   background-image: linear-gradient( #274c77 ,#6096ba , #a3cef1 );

}
li{
    display:flex;
    align-items: center;
    padding-bottom: 10px;
    gap:100px;
}
h1{
    color: #e7ecef;
}
ul{
    margin: 8px;
    padding-top: 10px;
    background-color: #e7ecef;
}

button{
    margin-right: 50px;
}
img{
    margin-left: 50px;
    width: 100px;
    height: 100px;
}
img{
    object-fit: cover;
}